body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(119, 119, 119);
  padding-top: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
}

